html {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

h1,h2,h3,h4,h5,h6 {
    font-family: serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    text-align: justify;
}

dt {
    font-weight: bold;
}

footer {
    margin-top: 2em;
    text-align: center;
}

footer p {
    font-size: small;
    text-align: center;
}

table.centered {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Standard Theme (Default) */

a:link {
    color: #0c266a;
}

a:active {
    color: #5d0000;
}

a:visited {
    color: #4c0b4c;
}

body {
    background-color: #eeeeee;
    color: #000000;
}

tr:nth-child(even) {
    background-color: #cecece;
}

tr:nth-child(odd) {
    background-color: #aeaeae;
}

/* Dark Theme (Override) */

@media (prefers-color-scheme: dark) {

a:link {
    color: #779deb;
}

a:active {
    color: #e07f71;
}

a:visited {
    color: #c882c5;
}

    body {
        background-color: #000000;
        color: #eeeeee;
    }

    tr:nth-child(even) {
        background-color: #0b0b0b;
    }

    tr:nth-child(odd) {
        background-color: #222222;
    }
}
