@media only screen and (min-width: 1280px) {

    body {
        margin: 40px auto;
        width: 1200px;
    }

    th, td {
        padding: 8px;
    }

    .slim {
        width: 30%;
    }

    .narrow {
        width: 40%;
    }

    .medium {
        width: 60%;
    }

    .wide {
        width: 80%;
    }

    .full {
        width: 100%;
    }
}
