@media only screen and (max-width: 599px) {

    body {
        margin: 10px;
    }

    th, td {
        padding: 2px;
    }

    .slim {
        width: 100%;
    }

    .narrow {
        width: 100%;
    }

    .medium {
        width: 100%;
    }

    .wide {
        width: 100%;
    }

    .full {
        width: 100%;
    }
}
