@media (min-width: 1281px) {

    body {
        margin: 25px auto;
        max-width: 1280px;
    }

    table {
        width: 90%;
    }

    th, td {
        padding: 8px;
    }

    .centered {
        margin-left: auto;
        margin-right: auto;
    }
}
