@media only screen and (min-width: 600px) and (max-width: 1279px) {

    body {
        margin: 20px;
    }

    th, td {
        padding: 8px;
    }

    .slim {
        width: 60%;
    }

    .narrow {
        width: 70%;
    }

    .medium {
        width: 80%;
    }

    .wide {
        width: 90%;
    }

    .full {
        width: 100%;
    }
}
